/*********** 
standard bootstrap sizes 
************/
$xs: 0;
$sm: 768px;
$md: 992px;
$lg: 1200px;


/*********** 
variables
here you can set the bootstrap variables that you want
full variables file is located in 
../vendor/bootstrap-sass/assets/stylesheets/bootstrap/_variables
************/

// $font-size-base: 15px;
// $grid-float-breakpoint: $md;


/***********  
import bootstrap 
************/
@import "_fonts.scss"; //add your @font-face definitions here
@import "../vendor/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "_wpstyles.scss";


/*********** 
theme styles
here you can directley add styles or import additional sass files
feel free to use @extend to apply bootstrap classes and bootstrap variables
************/
footer {
  @extend .well;
}
