// Custom spacers and sizes
$pad-1: 4px;
$pad-2: 8px;
$pad-3: 12px;
$pad-4: 16px;
$pad-5: 24px;
$pad-6: 32px;
$pad-7: 48px;
$pad-8: 64px;
$pad-9: 96px;
$pad-10: 128px;
$pad-11: 192px;
$pad-12: 256px;
$pad-13: 384px;
$pad-14: 512px;
$pad-15: 640px;
$pad-16: 768px;

$spacers: (
  1: $pad-1,
  2: $pad-2,
  3: $pad-3,
  4: $pad-4,
  5: $pad-5,
  6: $pad-6,
  7: $pad-7,
  8: $pad-8,
  9: $pad-9,
  10: $pad-10,
  11: $pad-11,
  12: $pad-12,
  13: $pad-13,
  14: $pad-14,
  15: $pad-15,
  16: $pad-16,
);

$sizes: $spacers;

// Colors

$redwine: #520021;
$redwine-dark: #380016;
$purple: #9f0040;
$orange: #f60;
$green: #85bb34;
$green-dark: #397312;

// Social colors
$facebook: #3B5998;
$twitter: #33ccff;
$instagram: #d6249f;

$colors: (
  'redwine': $redwine,
  'redwine-dark': $redwine-dark,
  'purple': $purple,
  'orange': $orange,
  'green': $green,
  'green-dark': $green-dark,
  'facebook': $facebook,
  'twitter': $twitter,
  'instagram': $instagram
);

$theme-colors: $colors;

$primary: $redwine;
$secondary: $purple;
$success: $green;

$gray-800: #4c4846;

// Fonts

$rfs-base-font-size: 1.125rem;

$font-size-base: 1.25rem;
$font-size-lg: $font-size-base * 1.125;

$font-primary: 'Yanone Kaffeesatz', sans-serif;
$font-secondary: 'Zilla Slab', sans-serif;

$font-family-base: $font-secondary;
$headings-font-family: $font-primary;
$headings-font-weight: 400;

$h1-font-size: 2.5rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

$display1-weight: 400;
$display2-weight: 400;
$display3-weight: 400;
$display4-weight: 400;

$enable-responsive-font-sizes: true;

$body-color: $gray-800;
$body-bg: #f7f8fc;

$link-color: $secondary;
$link-hover-color: $success;
$link-hover-decoration: none;

// Misc

$easing: cubic-bezier(0.25, 1, 0.5, 1);
$transition-basic: all 150ms $easing;

$tooltip-bg: #4C4846;
$tooltip-max-width: 250px;
$tooltip-opacity: 1;
$tooltip-font-size: 1rem;
