/*
 * You can copy paste from main bootstrap _variables file any varaibles that you want to customize
 * remember that you should remove the !default part to ensure that your values take preference
 * over the default ones
*/

// Colors

$base-color: #4c4846;

$primary:       #007bff;
$secondary:     #6c757d;
$success:       #28a745;
$info:          #17a2b8;
$warning:       #ffc107;
$danger:        #dc3545;
$light:         #f8f9fa;
$dark:          #343a40;

$body-bg-color: #f7f8fc;

$link-color:        $primary;
$link-hover-color:  darken($link-color, 15%);

// Fonts

$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1.125;

$font-primary: sans-serif;
$font-secondary: serif;

$font-family-base: $font-primary;
$headings-font-family: $font-primary;

$h1-font-size: $font-size-base * 2.3;
$h2-font-size: $font-size-base * 2.0;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.2;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base * 0.85;

$enable-responsive-font-sizes: true;

// Misc

$easing: cubic-bezier(0.25, 1, 0.5, 1);
$transition-basic: all 150ms $easing;

$tooltip-bg: #4C4846;
$tooltip-max-width: 250px;
$tooltip-opacity: 1;
$tooltip-font-size: 1rem;
