.wpcf7 {
    input[type="text"], input[type="email"],
    textarea {
        padding: 4px;
    }

    input[type="submit"] {
        @extend .btn;
        @extend .btn-primary;
        width: 180px;
        display: block;
        margin: auto;
        margin-top: 10px;
    }

    label {
        display: block;
        font-weight: normal;
    }

    .wpcf7-not-valid-tip {
        color:$gray-800;
        font-size: 95%;
    }

    .wpcf7-response-output {
        margin-top: 0;
    }

    div.wpcf7-validation-errors {
        // mensaje de validación
        border-color: $primary;
    }

    div.wpcf7-mail-sent-ok {
        // mensaje de éxito
        border-color: $success;
    }

}
